body {
    margin: 0;
    background-color: darkgrey;
}

/* Navbar */
header {
    background: yellow;
}
.Navbar {
    width: 90%;
    margin: 0 auto;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.Navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
.Navbar li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}
.Navbar a {
    color: teal;
    text-decoration: none;
    text-transform: uppercase;
}
.logo {
    float: left;
}

.Navbar a:hover {
    color: black;
}

.Navbar a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 150ms;
}

.Navbar a:hover::before {
    width: 100%

}

/*About Page Styling*/
.About {
    padding-left: 5%;
}

.About h2 {
    color: darkred;
}

/*General Link States*/
a:link {
text-decoration: none;
}
a:hover {
color: blue;
}
a:active {
color: white;
}